DJANGO_SECRET_KEY="####$$$%%%"
GOOGLE_BOOKS_API_KEY = "#@$%&@#$%!(*&^)"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.69
DATABASE_URL=postgresql://nexxxxxxxx
REDIS_URL=redis://rgg-xxxxxx:6379