* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6f6f6;
    color: #222;
    font-size: 14px;
    padding-top: var(--navbar-height);
    overflow-y: scroll;
}

body.dark-theme {
    background: #121212;
    color: #f1f1f1;
}

@media (max-width: 1024px) {
    body {
        padding-top: 64px;
    }
}